<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADB_Explorer__WpfUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ADB_Explorer__WpfUi.Properties.Settings>
            <setting name="AppVersion" serializeAs="String">
                <value>0.9.25111</value>
            </setting>
            <setting name="DragDropLogPath" serializeAs="String">
                <value>E:\Log\log.txt</value>
            </setting>
            <setting name="AppDisplayName" serializeAs="String">
                <value>ADB Explorer</value>
            </setting>
        </ADB_Explorer__WpfUi.Properties.Settings>
    </applicationSettings>
</configuration>